<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c95c559a-7d36-45df-a1b0-9c922f40e5ee/resourceGroups/Dev_Services/providers/Microsoft.Web/sites/zobelcloudapiwrdev</ResourceId>
    <ResourceGroup>Dev_Services</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://zobelcloudapiwrdev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>zobelcloudapiwrdev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>zobelcloudapiwrdev</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$zobelcloudapiwrdev</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>