<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/08922a31-c7a8-429b-83f4-e47931e82789/resourceGroups/ZobelRG/providers/Microsoft.Web/sites/zobelapidev</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://zobelapidev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>zobelapidev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>zobelapidev</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$zobelapidev</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>